<div class="wvu-masthead {{#wvu_config.wvu_masthead.mini}}wvu-masthead--mini {{/wvu_config.wvu_masthead.mini}}{{wvu_config.wvu_masthead.classes}}">
  <div class="wvu-masthead__container">

    {{> _wvu-masthead__logo }}

    {{#wvu_config.wvu_masthead.department}}
      {{> _wvu-masthead__college--link}}
    {{/wvu_config.wvu_masthead.department}}

    {{#wvu_config.wvu_masthead.search}}
      {{> _wvu-masthead__search-bar }}
    {{/wvu_config.wvu_masthead.search}}

  </div> <!-- /.wvu-masthead__container -->
</div> <!-- /.wvu-masthead -->
