<div class="wvu-masthead">
  <div class="wvu-masthead__container">

    {{> handlebars/_wvu-masthead__logo}}

    {{> handlebars/_wvu-masthead__links}}

  </div> <!-- /.wvu-masthead__container -->
</div> <!-- /.wvu-masthead -->
