<a href="{{wvu_config.wvu_masthead.link}}" class="wvu-masthead__link">
  {{#wvu_config.wvu_tech}}
    WVU Tech Home
  {{/wvu_config.wvu_tech}}
  {{^wvu_config.wvu_tech}}
    WVU Home
  {{/wvu_config.wvu_tech}}
</a>
