<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Masthead Logo Module</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    {{#_wvu-masthead.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-masthead.css}}
    
    {{#_wvu-masthead__logo.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-masthead__logo.css}}
    
    {{#_wvu-masthead__links.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-masthead__links.css}}
  </head>
  <body>
    {{> handlebars/_wvu-masthead}}
  </body>
</html>