<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Masthead Module Test</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <link href="css/{{test-name}}.css" rel="stylesheet" />

  </head>
  <body>
    {{#settings}}
      {{> _wvu-masthead}}
    {{/settings}}
  </body>
</html>
