<div class="wvu-masthead {{#wvu_config.masthead_mini}}wvu-masthead--mini {{/wvu_config.masthead_mini}}{{wvu_config.masthead_classes}}">
  <div class="wvu-masthead__container">

    {{> _wvu-masthead__logo }}

    {{#wvu_config.department_link}}
      {{> _wvu-masthead__department--link}}
    {{/wvu_config.department_link}}

    {{#wvu_confi._masthead_search}}
      {{> _wvu-masthead__search-bar }}
    {{/wvu_config.masthead_search}}

  </div> <!-- /.wvu-masthead__container -->
</div> <!-- /.wvu-masthead -->
