<a class="wvu-masthead__logo {{#wvu_config.masthead_mini}}wvu-masthead__logo--mini{{/wvu_config.masthead_mini}}" href="/">
  <span class="wvu-masthead__university-name">
    West Virginia University {{#wvu_config.tech}}Institute of Technology{{/wvu_config.tech}}
  </span>
  {{^wvu_config.masthead_mini}}
  <span class="wvu-masthead__title">
    {{wvu-masthead__title}}
  </span>
  {{/wvu_config.masthead_mini}}
</a>
