<div class="wvu-masthead">
  <div class="wvu-masthead__container">

    {{> partials/_wvu-masthead__logo}}

    {{> partials/_wvu-masthead__links}}

  </div> <!-- /.wvu-masthead__container -->
</div> <!-- /.wvu-masthead -->
