<a class="wvu-masthead__logo {{#wvu_config.wvu_masthead.mini}}wvu-masthead__logo--mini{{/wvu_config.wvu_masthead.mini}}" href="/">
  <span class="wvu-masthead__university-name">
    West Virginia University {{#wvu_config.wvu_tech}}Institute of Technology{{/wvu_config.wvu_tech}}
  </span>
  {{^wvu_config.wvu_masthead.mini}}
  <span class="wvu-masthead__title">
    {{wvu_config.wvu_masthead.title}}
  </span>
  {{/wvu_config.wvu_masthead.mini}}
</a>
