@mixin wvu-masthead-signature-background() {
  @if $wvu-masthead-background == 'white' {
    background-image: url($flying-wv-w-signature-white-bg);
  } @else if $wvu-masthead-background == 'gold' {
    background-image: url($flying-wv-w-signature-gold-bg);
  } @else {
    background-image: url($flying-wv-w-signature);
  }
}

@mixin wvu-masthead-signature() {
  .wvu-masthead__logo {
    @include wvu-masthead-signature-background();
    background-position: top 1.2em left;
    background-repeat: no-repeat;
    background-size: 300px;
    padding-bottom: 1em;
    padding-left: 54px;
  }

  .wvu-masthead__logo--mini {
    background-position: top 0.5em left;
    background-size: 250px;
  }

  .wvu-masthead__title {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    padding-top: 46px;
    text-transform: uppercase;

    @include media($wvu-bp-small) {
      font-size: 14px;
      line-height: 16px;
    }

    @include media($wvu-bp-medium) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .wvu-masthead__university-name {
    left: -99999em;
    position: absolute;
  }

}
