//Blue Pattern Masthead
//==================================================

@mixin wvu-masthead-blue-pattern() {
  .wvu-masthead {
    background: url($wvu-pattern-blue-bg) no-repeat;
    background-color: $wvu-blue;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
  }
}
