//  Background:
//  gold | blue | white | blue-pattern | gold-pattern
//  default: blue
//==================================================
$wvu-masthead-background: 'blue' !default;


// Signature:
// boolean: true | false
// default: true
//==================================================
$wvu-masthead-has-signature: true !default;


// Two Line Title:
// boolean: true | false
// default: false
//==================================================
$wvu-masthead-two-line-lockup: false !default;
