// Import masthead variables
//=================================================

@import 'wvu-masthead-variables';


// Import masthead partials mixins
//=================================================

@import 'wvu-masthead-gold';
@import 'wvu-masthead-white';
@import 'wvu-masthead-blue-pattern';
@import 'wvu-masthead-gold-pattern';
@import 'wvu-masthead-blue';

@import 'wvu-masthead-signature';


// WVU Masthead Mixin Two Line Lockup for Long Titles
//==================================================

@mixin wvu-masthead-is-two-line-lockup() {
  @if $wvu-masthead-two-line-lockup == true {
    .wvu-masthead__title { font-size: 0.6em; line-height: 1.08333333em; float: left; margin-top: 0.1em;
      @include media($wvu-bp-medium) {
        font-size: 0.75em;
      }
    }
    .wvu-masthead__university-name { top: 7.1em;
      @include media($wvu-bp-medium) {
        top: 7.1em;
      }
    }
  }
}

// Logic Switch for Masthead with Signature
//==================================================
@mixin wvu-masthead-has-signature(){
  @if $wvu-masthead-has-signature {
    @include wvu-masthead-signature();
  } @else {
    @include wvu-masthead-no-signature();
  }
}


// Logic Switch for Masthead colors
//==================================================

@mixin wvu-masthead-background(){
  @if $wvu-masthead-background == 'gold' {
    @include wvu-masthead-gold();
  } @else if $wvu-masthead-background == 'white' {
    @include wvu-masthead-white();
  } @else if $wvu-masthead-background == 'blue-pattern' {
    @include wvu-masthead-blue-pattern();
  } @else if $wvu-masthead-background == 'gold-pattern' {
    @include wvu-masthead-gold-pattern();
  } @else {
    @include wvu-masthead-blue();
  }
}

// Masthead Styles
//==================================================

.wvu-masthead__container {
  @include outer-container();
  padding: 0 1em;

  @include media($wvu-bp-xlarge) {
    padding: 0;
  }
}

.wvu-masthead {
  fieldset {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.wvu-masthead__logo {
  background: url($flying-wv) no-repeat top 1.2em left;
  background-color: transparent;
  background-size: 1.8em;
  border: 0;
  color: $wvu-white;
  float: left;
  font-size: 1.2em;
  overflow: hidden;
  padding: 1em 0 1.6em 2em;
  position: relative;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: #ddd;
    text-decoration: none;
  }

  @include media($wvu-bp-micro) {
    font-size: 1.5em;
  }

  @include media($wvu-bp-medium) {
    @include span-columns(7.5);
    font-size: 1.75em;
  }

  @include media($wvu-bp-large) {
    @include span-columns(8.5);
    font-size: 2em;
  }

  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 0;
  }
}

.wvu-masthead__title {
  font-size: 0.85em;
  @include media($wvu-bp-micro) {
    font-size: inherit;
  }
}

.wvu-masthead__link {
  color: $wvu-white;
  display: inline-block;
  font-weight: bold;
  float: left;
  margin-bottom: .5em;
  margin-right: .5em;
  @include media($wvu-bp-medium) {
    margin-bottom: 3px;
  }
  &:hover { color:
    $wvu-white;
    text-decoration: underline;
  }
}

.wvu-masthead__college {
  position: absolute;
  top: 1em; font-size: 0.8em;
  text-transform: uppercase;
}

.wvu-masthead__college-link {
  position: relative;
}

.wvu-masthead__college-link a {
  font-size: 0.8em;
  line-height: 1.08333333em;
  margin-bottom: -2em;
  padding: 0.4em 0.5em;
  @include media($wvu-bp-medium) {
    position: absolute;
  }
}

.wvu-masthead__search-bar {
  font-size: 0.8em;
  padding-bottom: 4em;
  padding-top: 2.1em;

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 0;
  }

  @include media($wvu-bp-medium) {
    @include span-columns(4.5);
    padding-bottom: 0;
  }

  @include media($wvu-bp-large) {
    @include span-columns(3.5);
  }
}


@include wvu-masthead-is-two-line-lockup();
@include wvu-masthead-background();
@include wvu-masthead-has-signature();

.wvu-masthead__logo--mini {
  background-size: 250px;
  background-position: top 0.6em left;
  padding-bottom: 1.6em;
  @include media($wvu-bp-medium) {
    background-position: top 0.5em left;
    padding-bottom: 1em;
    font-size: 2em;
  }
}
